@import "home";
@import "about";
@import "contact";
@import "portfolio";
@import "education";
@import "sidebar";
@import "header";

body,
html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #100e23;
  overflow-x: hidden !important;
}
.link {
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .side-bar {
    display: none !important;
  }
  .home-section,
  .about-section {
    text-align: center;
    .connection-section {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 1250px) {
  .home-profile-photo {
    display: none;
  }
}
.swal-button {
  background-color: #100e23;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  text-shadow: none;
  line-height: 2;
  transition: 0.2s ease;
}
.swal-button:hover {
  background-color: #262154 !important;
}
